@use "sass:color";
@use "sass:math";

// Variables
//-----------------------------------------------------------------------------
// Colors
$color-1: #000C36;
$color-2: #51E08A;
$color-3: #3B4877;
$color-4: #FFF;

// Fonts
$font-family-1: "Roboto Slab", sans-serif;
$font-family-2: "Carter One", sans-serif;

// Box Model
$unit: 1rem; // 10px
$spacing: 2 * $unit;
$spacing-xs: math.div($unit, 2);
$spacing-sm: $unit;
$spacing-lg: 3 * $unit;
$container-width: 400px;
$border-radius: 0.5 * $unit;

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  background-color: $color-1;
  color: $color-4;
  font-family: $font-family-1;
  font-optical-sizing: auto;
  margin: 0;
  padding: 0;
}

body {
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.app-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: $container-width;
  min-height: 100vh;
  padding: $spacing-lg $spacing;
}

header, main {
  width: 100%;
}

//header {
//  margin-bottom: $spacing-lg;
//}

figure {
  margin: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

main {
  display: flex;
  flex: 1;
  flex-direction: column;
}

h1 {
  font-family: $font-family-2;
  font-size: 4.5rem;
  line-height: 1.5;
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 3rem;
  line-height: 1.25;
  margin-bottom: $spacing;
  margin-top: 0;
  text-align: center;

  span {
    color: $color-3;
  }
}

p {
  font-size: 1.8rem;
  margin: 0;
}

.form {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: $spacing-lg;
  position: relative;

  .loader {
    align-items: center;
    background-color: color.adjust($color-1, $alpha: -0.2);
    background-image: url('../img/loader.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    display: none;
    inset: 0;
    justify-content: center;
    position: absolute;

    &::after {
      content: "Popcorn popping...";
    }

    &.loading {
      display: flex;
    }
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }

  legend {
    display: block;
    margin-bottom: $spacing-sm;
    padding: 0;
  }

  label, input, textarea {
    display: block;
  }

  label {
    margin-bottom: $spacing-sm;
  }

  input, textarea {
    background-color: $color-3;
    border: none;
    border-radius: $border-radius;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: 300;
    padding: $spacing-sm;
    width: 100%;
  }

  input {
    text-align: center;
  }

  textarea {
    resize: none;
  }

  ::placeholder {
    color: $color-1;
  }
}

button {
  background-color: $color-2;
  border: none;
  border-radius: $border-radius;
  color: $color-1;
  font-family: inherit;
  font-size: $spacing-lg;
  font-weight: 700;
  line-height: 1;
  margin-top: auto;
  padding: $spacing;
  transition: background-color 0.3s ease;
  width: 100%;

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover {
    background-color: color.adjust($color-2, $lightness: -10%);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
}

.form-options {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-sm;
  margin-top: $spacing-sm;

  input {
    &[type="radio"], &[type="checkbox"] {
      height: 0;
      opacity: 0;
      position: absolute;
      width: 0;
    }
  }

  label {
    background-color: $color-3;
    border-radius: $border-radius;
    color: $color-4;
    font-size: 1.4rem;
    line-height: 3rem;
    margin: 0;
    padding: 0 $spacing-sm;
  }

  input[type="radio"]:checked + label, input[type="checkbox"]:checked + label {
    background-color: $color-2;
    color: $color-1;
  }
}

.form-group .form-row {
  display: flex;
  gap: $spacing-sm;
}

.results-container {
  display: flex;
  flex-direction: column;

  figure {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: $spacing-sm;

    * {
      margin: 0;
    }
  }

  img {
    border-radius: $border-radius;
  }
}

.spinner {
  flex: 1;
  position: relative;

  &.spinner-right input {
    padding-right: $spacing;
    text-align: right;
  }

  label {
    color: $color-1;
    height: 0;
    inset: $spacing-xs;
    margin-bottom: 0;
    position: absolute;
    width: 0;
  }

  input {
    font-size: 3rem;
    line-height: 1;

  }

  &-container {
    display: flex;
    gap: $spacing-sm;

  }

  &-buttons {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;

    button {
      background-color: $color-3;
      font-weight: 400;
      padding: 0 $spacing-sm;
      width: 5 * $unit;

      &:hover {
        background-color: color.adjust($color-3, $lightness: -5%);
      }
    }
  }
}